.root-container {
  min-height: 100vh;
  background-color: #F3F7F9;
}

.navbar-container {
  background-color: #fff;
  height: 136px;
  padding-left: 58px;
  padding-right: 58px;
  box-shadow: 0px 4px 6px rgba(45, 55, 81, 0.05);
}

.brightpay-logo {
  width: 130px;
  height: 60px;
  margin-right: 108px;
}

.searchbar-container {
  background-color: #F3F7F9;
  border: 1px solid #CECECE;
  border-radius: 32px;
  height: 64px;
  width: 360px;
  max-width: 540px;
  margin: 0px;
}

.searchbar-input {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  padding: 0px;
}

.searchbar-input:focus-visible {
  outline: 0px;
}

.searchbar-icon {
  width: 16px;
  height: 16px;
  align-self: center;
  margin-left: 36px;
  margin-right: 16px;
}

.navbar-right-container {
  margin-left: 64px;
}

.navbar-icons-container {
  border-right: 1px solid #CECECE;
}

.navbar-icon {
  width: 28px;
  height: 28px;
  margin-right: 64px;
}

.profile-details-container {
  margin-left: 64px;
}

.profile-initials-container {
  width: 64px;
  height: 64px;
  background-color: #DAF1FF;
  border-radius: 50%;
  margin-right: 16px;
}

.profile-initials-text {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #01395A;
}

.profile-type-text {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #8D99A6;
  margin-bottom: 4px !important;
}

.profile-name-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}

.profile-dropdown-icon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.sidebar {
  background-color: #fff;
  width: 312px;
  padding-top: 52px;
  padding-right: 32px;
}

.sidebar-item {
  height: 60px;
}

.sidebar-active {
  width: 10px;
  height: 100%;
  background: #01395A;
  border-radius: 0px 16px 16px 0px;
}

.sidebar-inactive {
  width: 10px;
  height: 100%;
  background-color: transparent;
  border-radius: 0px 16px 16px 0px;
}

.sidebar-text-container {
  margin-left: 14px;
  text-decoration: none;
}

.sidebar-text-container.active {
  background-color: #01395A;
  border-radius: 16px;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  margin-left: 28px;
  margin-right: 16px;
}

.sidebar-text-active {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.sidebar-text-inactive {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #8D99A6;
}

.dashboard-container {
  padding: 32px 58px 58px 32px;
}

.dashboard-title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 36px !important;
}

.check-eligibility-div {
  width: 100%;
  flex: 0 0 auto;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.check-eligibility-header {
  margin-bottom: 60px;
}

.eligibility-image-container {
  width: 56px;
  height: 56px;
  background-color: #DAF1FF;
  border-radius: 110px;
  margin-right: 16px;
}

.check-eligibility-image {
  width: 24px;
  height: 24px;
}

.check-eligibility-title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #000;
}

.approved-insurance-container {
  background: #F3F7F9;
  border-radius: 24px;
  padding: 26px 24px 24px 24px;
}

.approved-insurance-container:not(:last-child) {
  margin-bottom: 60px;
}

.approved-footer-left-container {
  max-width: 700px;
}

.approved-insurance-header-container {
  margin-bottom: 24px;
}

.approved-header-text {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #01395A;
}

.approved-status-container {
  background: #0078BE;
  border-radius: 6px;
  padding: 4px 16px;
  margin-left: 16px;
}

.approved-status-text {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer-info-title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5B5D5F;
  margin-bottom: 4px;
}

.footer-info-text {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3A3A3A;
}

.view-info-div {
  margin-left: 60px;
  border: 1.5px solid #01395A;
  border-radius: 110px;
  padding: 14px 36px;
  cursor: pointer;
  text-decoration: none;
}

.view-info-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #01395A;
}

.info-options-container {
  margin-left: 32px;
  margin-right: 16px;
  cursor: pointer;
  text-decoration: none;
}

.info-options-div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #01395A;
}

.info-options-div:not(:last-child) {
  margin-bottom: 4px;
}


.eligibility-info-container {
  margin-bottom: 32px;
}

.eligibility-info-header {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #5B5D5F;
  margin-bottom: 32px !important;
}

.eligibility-form-container {
  gap: 32px 20px;
}

.insurance-div {
  width: 150px;
  padding: 16px 0px;
  border: 1px solid #0078BE;
  cursor: pointer;
}

.primary-insurance-div {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.secondary-insurance-div {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.insurance-div.active {
  background-color: #DAF1FF;
}

.insurance-type-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3A3A3A;
}

.insurance-type-text.active {
  color: #01395A;
}

.eligibility-form-top-container {
  gap: 20px;
}

.eligibility-form-bottom-container {
  gap: 20px;
}

.form-title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px !important;
}

.form-input {
  background-color: #fff;
  border: 1px solid #CECECE;
  border-radius: 6px;
  width: 300px;
  height: 56px;
}

.date-input {
 padding-left: 16px;
 padding-right: 20px;
}

.save-info-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* The container */
.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container .save-info-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.save-info-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #FFFFFF;
  border: 1px solid #9A9A9A;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.save-info-span::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container .save-info-input:checked ~ .save-info-span::after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .save-info-span::after {
  left: 4.5px;
  top: 7px;
  width: 20px;
  height: 9px;
  border: solid #01395A;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.save-info-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 8px !important;
}

.run-check-container {
  background: #3AD664;
  border: 1px solid #008516;
  border-radius: 110px;
  padding: 16px 24px;
  cursor: pointer;
  text-decoration: none;
}

.run-check-text {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.update-profile-container {
  margin-left: 32px;
  background-image: linear-gradient(45deg, #01395A, #194C6A);
  border-radius: 24px;
  padding: 32px;
  height: 100%;
}

.close-icon-container {
  background: rgba(243, 247, 249, 0.2);
  border-radius: 110px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}

.close-icon {
  width: 14px;
  height: 14px;
}

.welcome-icon {
  width: 84px;
  height: 84px;
  margin-bottom: 32px;
}

.welcome-header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  max-width: 232px;
  margin-bottom: 32px !important;
}

.welcome-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  max-width: 418px;
}

.update-profile-div {
  background-color: transparent;
  border: 1.5px solid #FFFFFF;
  border-radius: 110px;
  padding: 16px 24px;
  text-decoration: none;
}

.update-profile-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}